@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  width: 1920px;
  height: 7371px;
}

.header {
  background-color: #1A1A25;
  min-width: 100vw;
  height: 197px;
  font-family: "Inter", sans-serif;
}
.header .info {
  display: flex;
  height: 81px;
  align-items: center;
  padding-left: 255px;
  padding-right: 255px;
}
.header .info_logo {
  height: 29px;
  padding-right: 50px;
}
.header .info_p1 {
  color: #858FA4;
  font-size: 14px;
  cursor: pointer;
}
.header .info_p2 {
  color: #858FA4;
  padding-right: 30px;
  font-size: 14px;
  cursor: pointer;
}
.header .info_arrow_down {
  color: #858FA4;
  margin-right: 229px;
  margin-left: 10px;
}
.header .info_become {
  color: white;
  border: 1px solid #384255;
  background-color: #384255;
  border-radius: 6px;
  padding: 10px;
  margin-right: 30px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.header .info_line {
  color: #858fa4;
  margin-right: 30px;
}
.header .info_number {
  color: white;
  font-size: 14px;
}
.header .info_number span {
  color: #858FA4;
  cursor: pointer;
}
.header .header_info_arrow {
  margin-right: 26px;
  margin-left: 8px;
}
.header .info_nubmer_tel {
  color: #F53B49;
  margin-right: 30px;
  cursor: pointer;
}
.header .entarence {
  color: white;
  margin-right: 14px;
  font-size: 14px;
  cursor: pointer;
}
.header .header_div2 {
  height: 93px;
  padding-left: 255px;
  display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
}
.header .header_btn {
  display: flex;
  padding: 15.5px 20px 12.5px;
  border-radius: 4px;
  background-color: #F53B49;
  color: white;
  outline: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  align-items: center;
}
.header .header_btn:hover {
  background-color: #ff4e5c;
}
.header .header_btn img {
  margin-top: -7px;
  margin-right: 5px;
}
.header .header_btn span {
  margin-top: -6px;
}
.header .header_div2_search {
  margin-right: 31px;
  margin-left: 50px;
  cursor: pointer;
}
.header .img_header_div2 {
  margin-left: 50px;
  cursor: pointer;
}
.header .header_div2_line {
  margin-right: 50px;
}
.header .header_ul {
  display: flex;
  color: white;
}
.header .header_ul li {
  margin-right: 40px;
  font-size: 14px;
  cursor: pointer;
}
.header .header_ul li:last-child {
  margin-right: 0px;
}
.header .header_div2_ul2 {
  display: flex;
  margin-left: 126px;
}
.header .header_div2_ul2 li {
  margin-left: 30px;
  cursor: pointer;
}
.header .header_div3 {
  display: flex;
  height: 44px;
  background-color: #2A2C38;
  color: white;
  align-items: center;
  padding-left: 255px;
  font-family: "Inter", sans-serif;
}
.header .header_div3 .header_div3_p1 {
  font-size: 14px;
  margin-right: 10px;
}
.header .header_div3 .header_div3_line {
  margin-right: 19px;
  cursor: pointer;
}
.header .header_div3 .header_div3_fitness {
  font-size: 14px;
  margin-right: 10px;
}

.main_div1 {
  width: 1800px;
  height: 500px;
  margin-top: 68px;
  margin-left: 50px;
  background-color: #E9EAEF;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  position: relative;
  z-index: 1;
}
.main_div1 .zero_runner {
  height: 336px;
  padding-left: 203px;
  padding-top: 83px;
}
.main_div1 .zero_runner .zero_runner_p {
  font-size: 24px;
  color: #F53B49;
  font-weight: 1000;
  margin-bottom: 24px;
}
.main_div1 .zero_runner .zero_runner_p2 {
  font-size: 49.55px;
  font-weight: bold;
  text-transform: uppercase;
}
.main_div1 .zero_runner .zero_runner_p2 span {
  font-weight: normal;
}
.main_div1 .zero_runner .runner_btn {
  border: 1px solid #F53B49;
  color: #F53B49;
  padding: 12px 8px 13px 11px;
  width: 147px;
  font-size: 14px;
  margin-top: 24px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}
.main_div1 .zero_runner .runner_btn:hover {
  background-color: #F53B49;
  color: white;
  box-shadow: 0px 0.3px 1.4px rgba(0, 0, 0, 0.018), 0px 0.6px 3.1px rgba(0, 0, 0, 0.026), 0px 1.1px 5.3px rgba(0, 0, 0, 0.032), 0px 1.6px 8.2px rgba(0, 0, 0, 0.038), 0px 2.4px 12.2px rgba(0, 0, 0, 0.042), 0px 3.6px 17.9px rgba(0, 0, 0, 0.048), 0px 5.4px 26.8px rgba(0, 0, 0, 0.054), 0px 8.5px 42.7px rgba(0, 0, 0, 0.062), 0px 16px 80px rgba(0, 0, 0, 0.08);
}
.main_div1 .zero_runner .main_line_div {
  margin-top: -37px;
  z-index: 5;
  margin-left: 177px;
}
.main_div1 .main_div1_women {
  float: right;
  margin-top: -287px;
  margin-right: 180px;
  z-index: 2;
}
.main_div1 .main_div1_aarrowleft {
  float: right;
  position: relative;
  margin-right: -635px;
  margin-top: 61px;
  cursor: pointer;
}
.main_div1 .main_div1_aarrowright {
  float: right;
  position: relative;
  margin-right: -700px;
  margin-top: 61px;
  cursor: pointer;
}

.pid_main_p {
  font-size: 30px;
  font-weight: bold;
  margin-top: 120px;
  margin-left: 255px;
  font-family: "Inter", sans-serif;
  margin-bottom: 30px;
}

.main_grid {
  font-family: "Inter", sans-serif;
  width: 1410px;
  height: 950px;
  margin-left: 255.5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px 30px;
  grid-template-areas: "grid1 grid2 grid3 grid4" "grid1 grid2 grid5 grid6" "grid7 grid8 grid9 grid10";
}
.main_grid .grid1 {
  grid-area: grid1;
}
.main_grid .grid1 p {
  z-index: 2;
  position: absolute;
  margin-top: -385px;
  color: white;
  margin-left: 30px;
  font-size: 20px;
  font-weight: bold;
}
.main_grid .grid1 .grid_women1 {
  cursor: pointer;
  position: absolute;
  margin-left: -330px;
}
.main_grid .grid2 {
  grid-area: grid2;
  position: relative;
}
.main_grid .grid2 .grid_women2 {
  cursor: pointer;
  position: absolute;
  margin-left: -330px;
}
.main_grid .grid2 p {
  color: #1A1A25;
  font-size: 20px;
  font-weight: 800;
  margin-top: -385px;
  margin-left: 33px;
}
.main_grid .grid3 {
  grid-area: grid3;
  position: relative;
}
.main_grid .grid3 .grid_women3 {
  position: absolute;
  margin-left: -217px;
  cursor: pointer;
}
.main_grid .grid3 p {
  color: #1A1A25;
  font-size: 20px;
  margin-top: -169px;
  font-weight: 800;
  margin-left: 20px;
}
.main_grid .grid4 {
  grid-area: grid4;
  position: relative;
}
.main_grid .grid4 .grid_women3 {
  position: absolute;
  margin-left: -217px;
  cursor: pointer;
}
.main_grid .grid4 p {
  color: #1A1A25;
  font-size: 20px;
  margin-top: -169px;
  font-weight: 800;
  margin-left: 20px;
}
.main_grid .grid5 {
  grid-area: grid5;
  position: relative;
  margin-top: -95px;
}
.main_grid .grid5 .grid_simulators {
  position: absolute;
  margin-left: -217px;
  cursor: pointer;
}
.main_grid .grid5 p {
  margin-top: -170px;
  color: #1A1A25;
  font-size: 20px;
  font-weight: 800;
  margin-left: 30px;
}
.main_grid .grid6 {
  grid-area: grid6;
  position: relative;
  margin-top: -95px;
}
.main_grid .grid6 .grid_simulators {
  position: absolute;
  margin-left: -217px;
  cursor: pointer;
}
.main_grid .grid6 p {
  margin-top: -170px;
  color: #1A1A25;
  font-size: 20px;
  font-weight: 800;
  margin-left: 30px;
}
.main_grid .grid7 {
  grid-area: grid7;
  position: relative;
  margin-top: -179px;
}
.main_grid .grid7 .grid_batute {
  position: absolute;
  margin-left: -271px;
  cursor: pointer;
}
.main_grid .grid7 p {
  position: absolute;
  margin-top: -243px;
  margin-left: 30px;
  font-size: 20px;
  font-weight: bold;
}
.main_grid .grid8 {
  grid-area: grid8;
  position: relative;
  margin-top: -179px;
}
.main_grid .grid8 .grid_batute {
  position: absolute;
  margin-left: -275px;
  cursor: pointer;
}
.main_grid .grid8 p {
  position: absolute;
  margin-top: -245px;
  margin-left: 30px;
  font-size: 20px;
  font-weight: bold;
}
.main_grid .grid9 {
  grid-area: grid9;
  position: relative;
  margin-top: -179px;
}
.main_grid .grid9 .grid_batute {
  position: absolute;
  margin-left: -271px;
  cursor: pointer;
}
.main_grid .grid9 p {
  position: absolute;
  margin-top: -243px;
  margin-left: 30px;
  font-size: 20px;
  font-weight: bold;
}
.main_grid .grid10 {
  grid-area: grid10;
  position: relative;
  margin-top: -179px;
}
.main_grid .grid10 .grid_batute {
  cursor: pointer;
  position: absolute;
  margin-left: -275px;
}
.main_grid .grid10 p {
  position: absolute;
  margin-top: -243px;
  margin-left: 30px;
  font-size: 20px;
  font-weight: bold;
}
.main_grid img {
  z-index: 1;
}
.main_grid .main_grid_p {
  border: 1px solid #F53B49;
  color: #F53B49;
  padding: 12px 8px 13px 27px;
  width: 147px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  margin-top: 785px;
}
.main_grid .main_grid_p:hover {
  background-color: #F53B49;
  color: white;
  box-shadow: 0px 0.3px 1.4px rgba(0, 0, 0, 0.018), 0px 0.6px 3.1px rgba(0, 0, 0, 0.026), 0px 1.1px 5.3px rgba(0, 0, 0, 0.032), 0px 1.6px 8.2px rgba(0, 0, 0, 0.038), 0px 2.4px 12.2px rgba(0, 0, 0, 0.042), 0px 3.6px 17.9px rgba(0, 0, 0, 0.048), 0px 5.4px 26.8px rgba(0, 0, 0, 0.054), 0px 8.5px 42.7px rgba(0, 0, 0, 0.062), 0px 16px 80px rgba(0, 0, 0, 0.08);
}

.pre_main_grid {
  margin-left: 255px;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.two_grid {
  font-family: "Inter", sans-serif;
  width: 1418px;
  height: 591px;
  margin-left: 251px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  grid-template-areas: "pre_grid1 pre_grid1 pre_grid2 pre_grid3" "pre_grid4 pre_grid5 pre_grid6 pre_grid7";
}
.two_grid .pre_grid1 {
  grid-area: pre_grid1;
  position: relative;
  cursor: pointer;
}
.two_grid .pre_grid1 .gridtwo_img {
  position: absolute;
  z-index: 1;
}
.two_grid .pre_grid1 p {
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding-top: 29px;
  padding-left: 33px;
}
.two_grid .pre_grid1 .gridtwo_img2 {
  position: absolute;
  z-index: 3;
  margin-left: 90px;
}
.two_grid .pre_grid2 {
  grid-area: pre_grid2;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.two_grid .pre_grid2 .gridtwo_img3 {
  position: absolute;
  z-index: 2;
}
.two_grid .pre_grid2 .gridtwo_img4 {
  position: absolute;
  z-index: 3;
  margin-left: 54px;
}
.two_grid .pre_grid2 p {
  position: absolute;
  z-index: 3;
  font-size: 20px;
  color: black;
  font-weight: bold;
  padding-top: 29px;
  padding-left: 13px;
}
.two_grid .pre_grid3 {
  grid-area: pre_grid3;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.two_grid .pre_grid3 .gridtwo_img3 {
  position: absolute;
  z-index: 2;
}
.two_grid .pre_grid3 .gridtwo_img4 {
  position: absolute;
  z-index: 3;
  margin-left: 54px;
}
.two_grid .pre_grid3 p {
  position: absolute;
  z-index: 3;
  font-size: 20px;
  color: black;
  font-weight: bold;
  padding-top: 29px;
  padding-left: 25px;
}
.two_grid .pre_grid4 {
  grid-area: pre_grid4;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.two_grid .pre_grid4 .gridtwo_img3 {
  position: absolute;
  z-index: 2;
}
.two_grid .pre_grid4 .gridtwo_img4 {
  position: absolute;
  z-index: 3;
  margin-left: 54px;
}
.two_grid .pre_grid4 p {
  position: absolute;
  z-index: 3;
  font-size: 20px;
  color: black;
  font-weight: bold;
  padding-top: 29px;
  padding-left: 25px;
}
.two_grid .pre_grid5 {
  cursor: pointer;
  grid-area: pre_grid5;
  position: relative;
  z-index: 1;
}
.two_grid .pre_grid5 .gridtwo_img3 {
  position: absolute;
  z-index: 2;
}
.two_grid .pre_grid5 .gridtwo_img4 {
  position: absolute;
  z-index: 3;
  margin-left: 54px;
}
.two_grid .pre_grid5 p {
  position: absolute;
  z-index: 3;
  font-size: 20px;
  color: black;
  font-weight: bold;
  padding-top: 29px;
  padding-left: 25px;
}
.two_grid .pre_grid6 {
  cursor: pointer;
  grid-area: pre_grid6;
  position: relative;
  z-index: 1;
}
.two_grid .pre_grid6 .gridtwo_img3 {
  position: absolute;
  z-index: 2;
}
.two_grid .pre_grid6 .gridtwo_img4 {
  position: absolute;
  z-index: 3;
  margin-left: 54px;
}
.two_grid .pre_grid6 p {
  position: absolute;
  z-index: 3;
  font-size: 20px;
  color: black;
  font-weight: bold;
  padding-top: 29px;
  padding-left: 25px;
}
.two_grid .pre_grid7 {
  cursor: pointer;
  grid-area: pre_grid7;
  position: relative;
  z-index: 1;
}
.two_grid .pre_grid7 .gridtwo_img3 {
  position: absolute;
  z-index: 2;
}
.two_grid .pre_grid7 .gridtwo_img4 {
  position: absolute;
  z-index: 3;
  margin-left: 54px;
}
.two_grid .pre_grid7 p {
  position: absolute;
  z-index: 3;
  font-size: 20px;
  color: black;
  font-weight: bold;
  padding-top: 29px;
  padding-left: 25px;
}

.main_grid_p2 {
  border: 1px solid #F53B49;
  color: #F53B49;
  padding: 12px 8px 13px 27px;
  width: 147px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 255px;
  margin-top: 30px;
  font-family: "Inter", sans-serif;
}
.main_grid_p2:hover {
  background-color: #F53B49;
  color: white;
  box-shadow: 0px 0.3px 1.4px rgba(0, 0, 0, 0.018), 0px 0.6px 3.1px rgba(0, 0, 0, 0.026), 0px 1.1px 5.3px rgba(0, 0, 0, 0.032), 0px 1.6px 8.2px rgba(0, 0, 0, 0.038), 0px 2.4px 12.2px rgba(0, 0, 0, 0.042), 0px 3.6px 17.9px rgba(0, 0, 0, 0.048), 0px 5.4px 26.8px rgba(0, 0, 0, 0.054), 0px 8.5px 42.7px rgba(0, 0, 0, 0.062), 0px 16px 80px rgba(0, 0, 0, 0.08);
}

.pre_main_grid2_line {
  margin-top: 37px;
}

.main_actions {
  display: flex;
  width: 100vw;
  height: 35px;
  margin-left: 255px;
  font-family: "Inter", sans-serif;
  align-items: center;
  margin-top: 120px;
}
.main_actions .p_action {
  font-size: 25px;
  font-weight: 800;
  margin-right: 30px;
  cursor: pointer;
}
.main_actions .p_New {
  font-size: 20px;
  color: grey;
  font-weight: 500;
  margin-right: 30px;
  cursor: pointer;
}
.main_actions .p_recommend {
  font-size: 20px;
  color: grey;
  font-weight: 500;
  margin-right: 30px;
  cursor: pointer;
}

.main_grid3 {
  width: 1349px;
  height: 506px;
  margin-left: 256px;
  margin-top: 30px;
  gap: 43px;
  font-family: "Inter", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}
.main_grid3 .main_grid3_div1 {
  position: relative;
  box-shadow: 0px 0.7px 3.6px rgba(0, 0, 0, 0.01), 0px 2px 10px rgba(0, 0, 0, 0.015), 0px 4.8px 24.1px rgba(0, 0, 0, 0.02), 0px 16px 80px rgba(0, 0, 0, 0.03);
  border-radius: 6px;
}
.main_grid3 .main_grid3_div1:hover {
  box-shadow: 0px 0.7px 3.6px rgba(0, 0, 0, 0.035), 0px 2px 10px rgba(0, 0, 0, 0.05), 0px 4.8px 24.1px rgba(0, 0, 0, 0.065), 0px 16px 80px rgba(0, 0, 0, 0.1);
}
.main_grid3 .main_grid3_div1 .main_grid3_card {
  width: 100%;
  height: 65%;
}
.main_grid3 .main_grid3_div1 .main_grid3_info {
  width: 100%;
  height: 35%;
  position: relative;
}
.main_grid3 .main_grid3_div1 .pre_footer_arrow {
  position: absolute;
  border: 1px solid white;
  padding: 15px;
  border-radius: 50%;
  box-shadow: 0px 0.4px 1.9px rgba(0, 0, 0, 0.021), 0px 0.9px 4.3px rgba(0, 0, 0, 0.03), 0px 1.5px 7.7px rgba(0, 0, 0, 0.037), 0px 2.6px 12.8px rgba(0, 0, 0, 0.043), 0px 4.2px 21.2px rgba(0, 0, 0, 0.05), 0px 7.4px 37px rgba(0, 0, 0, 0.059), 0px 16px 80px rgba(0, 0, 0, 0.08);
  margin-left: 666px;
  margin-top: -292px;
}
.main_grid3 .main_grid3_img1 {
  position: absolute;
  margin-top: 42px;
}
.main_grid3 .div_grid_icon3 {
  position: absolute;
  margin-top: 20px;
  margin-left: 26px;
}
.main_grid3 .analitic {
  position: absolute;
  margin-left: 238px;
  margin-top: 28px;
  cursor: pointer;
}
.main_grid3 .grid3_heart {
  position: absolute;
  margin-left: 270px;
  margin-top: 28px;
  cursor: pointer;
}
.main_grid3 .grid3_p_info {
  font-size: 12px;
  color: #2FC509;
  margin-left: 20px;
  margin-top: 10px;
}
.main_grid3 .grid3_p_info img {
  margin: 0px 5px 0px 5px;
}
.main_grid3 .grid3_p_info span {
  color: #4B7EE8;
}
.main_grid3 .grid3_p_info2 {
  font-size: 16px;
  margin-left: 20px;
  margin-top: 8px;
}
.main_grid3 .grid3_p_info3 {
  font-size: 12px;
  color: #909CB5;
  margin-top: 8px;
  margin-left: 20px;
}
.main_grid3 .grid3_p_info3 img {
  margin-left: 7px;
  position: absolute;
  margin-top: 1px;
  cursor: pointer;
}
.main_grid3 .grid3_p_info4 {
  margin-top: 8px;
  margin-left: 20px;
  font-size: 17px;
  color: #1A1A25;
  font-weight: bold;
}
.main_grid3 .grid3_p_info5 {
  text-decoration: line-through;
  color: #858FA4;
  margin-left: 20px;
  font-size: 16px;
  margin-top: 3px;
}
.main_grid3 .grid3_btn {
  font-family: "Inter", sans-serif;
  padding: 8.3px 20px 15.5px;
  border-radius: 4px;
  background-color: #F53B49;
  color: white;
  outline: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  float: right;
  margin-top: -43px;
  margin-right: 24px;
  font-size: 14px;
  font-weight: 800;
}
.main_grid3 .grid3_btn:hover {
  background-color: #ff4e5c;
}
.main_grid3 .grid3_btn .grid3_info_buy {
  margin-bottom: -5px;
  margin-right: 5px;
}
.main_grid3 .grid3_p_info2_1 {
  color: #F53B49;
}
.main_grid3 .grid3_p_info2_2 {
  color: #F99808;
}

.main_grid_p3 {
  border: 1px solid #F53B49;
  color: #F53B49;
  padding: 12px 8px 13px 27px;
  width: 189px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 255px;
  margin-top: 30px;
  font-family: "Inter", sans-serif;
}
.main_grid_p3:hover {
  background-color: #F53B49;
  color: white;
  box-shadow: 0px 0.3px 1.4px rgba(0, 0, 0, 0.018), 0px 0.6px 3.1px rgba(0, 0, 0, 0.026), 0px 1.1px 5.3px rgba(0, 0, 0, 0.032), 0px 1.6px 8.2px rgba(0, 0, 0, 0.038), 0px 2.4px 12.2px rgba(0, 0, 0, 0.042), 0px 3.6px 17.9px rgba(0, 0, 0, 0.048), 0px 5.4px 26.8px rgba(0, 0, 0, 0.054), 0px 8.5px 42.7px rgba(0, 0, 0, 0.062), 0px 16px 80px rgba(0, 0, 0, 0.08);
}

.best_simulators {
  width: 100%;
  height: 756px;
  background-color: #1A1A25;
  margin-top: 106px;
  position: relative;
}
.best_simulators p {
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-left: 256px;
  padding-top: 120px;
  padding-bottom: 30px;
  font-family: "Inter", sans-serif;
}
.best_simulators .best_simulators_grid {
  width: 1410px;
  height: 400px;
  margin-left: 256px;
  display: grid;
  font-family: "Inter", sans-serif;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "sim_grid1 sim_grid1 sim_grid2 sim_grid3";
}
.best_simulators .sim_grid1 {
  grid-area: sim_grid1;
}
.best_simulators .red_fon {
  border-radius: 6px;
  position: absolute;
}
.best_simulators .fon_women {
  position: absolute;
  margin-left: 290px;
  border-radius: 7px;
}
.best_simulators .red_fon_p {
  color: white;
  position: absolute;
  margin-top: -90px;
  margin-left: 23px;
  font-size: 25px;
}
.best_simulators .red_fon_p span {
  font-size: 27px;
  text-transform: uppercase;
}
.best_simulators .red_fon_clock {
  position: absolute;
  margin-top: 138px;
  margin-left: 20px;
}
.best_simulators .red_fon_p2 {
  position: absolute;
  margin-top: 100px;
  font-size: 20px;
  font-weight: 400;
  margin-top: 41px;
  margin-left: 142px;
  color: #1A1A25;
}
.best_simulators .red_fon_p2 span {
  font-weight: bold;
}
.best_simulators .fon_max {
  position: absolute;
  margin-top: 292px;
  margin-left: 60px;
}
.best_simulators .sim_grid2 {
  position: relative;
  grid-area: sim_grid2;
  font-family: "Inter", sans-serif;
}
.best_simulators .sim_grid2 .sim_grid2_fon {
  height: 400px;
  width: 328px;
}
.best_simulators .sim_grid2_fon {
  position: absolute;
}
.best_simulators .sim_grid2_img {
  position: absolute;
  margin-top: 111px;
}
.best_simulators .sim_grid2_p {
  position: absolute;
  color: black;
  font-size: 24px;
  margin-top: -100px;
  margin-left: 39px;
  font-weight: 1000;
}
.best_simulators .sim_grid2_p span {
  color: #F53B49;
  font-size: 36px;
}
.best_simulators .sim_grid3 {
  position: relative;
  grid-area: sim_grid3;
  font-family: "Inter", sans-serif;
}
.best_simulators .sim_grid3 .sim_grid2_fon {
  height: 400px;
  width: 328px;
}
.best_simulators .sim_grid2_fon {
  position: absolute;
}
.best_simulators .sim_grid2_img2 {
  position: absolute;
  margin-top: 49px;
  margin-bottom: -5px;
  border-radius: 7px;
  margin-left: 5px;
}
.best_simulators .sim_grid2_p2 {
  position: absolute;
  color: black;
  font-size: 22px;
  margin-top: -100px;
  margin-left: 29px;
  font-weight: 1000;
}
.best_simulators .sim_grid2_p2 span {
  color: #F53B49;
  font-size: 22px;
}
.best_simulators .grid3_nautilus {
  position: absolute;
  margin-top: 150px;
  margin-left: 35px;
}
.best_simulators .main_grid_p4 {
  border: 1px solid white;
  padding: 12px 28px 13px 27px;
  width: 166px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 255px;
  margin-top: 30px;
  font-family: "Inter", sans-serif;
}
.best_simulators .main_grid_p4:hover {
  background-color: #F53B49;
  color: white;
  border: #F53B49;
  box-shadow: 0px 0.3px 1.4px rgba(0, 0, 0, 0.018), 0px 0.6px 3.1px rgba(0, 0, 0, 0.026), 0px 1.1px 5.3px rgba(0, 0, 0, 0.032), 0px 1.6px 8.2px rgba(0, 0, 0, 0.038), 0px 2.4px 12.2px rgba(0, 0, 0, 0.042), 0px 3.6px 17.9px rgba(0, 0, 0, 0.048), 0px 5.4px 26.8px rgba(0, 0, 0, 0.054), 0px 8.5px 42.7px rgba(0, 0, 0, 0.062), 0px 16px 80px rgba(0, 0, 0, 0.08);
}

.pre_main_grid4 {
  font-size: 30px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  margin: 122px 0px 30px 255px;
}

.pre_main_grid4_ul {
  font-family: "Inter", sans-serif;
  display: flex;
  margin-left: 255px;
  color: rgb(99, 98, 98);
  font-size: 17px;
  cursor: pointer;
}
.pre_main_grid4_ul li {
  margin-right: 30px;
}
.pre_main_grid4_ul li:hover {
  color: black;
}

.main_grid5 {
  background-color: white;
  margin-top: 30px;
  margin-left: 255px;
  width: 1418px;
  height: 485px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  box-shadow: 0px 0.7px 3.6px rgba(0, 0, 0, 0.01), 0px 2px 10px rgba(0, 0, 0, 0.015), 0px 4.8px 24.1px rgba(0, 0, 0, 0.02), 0px 16px 80px rgba(0, 0, 0, 0.03);
}

.main_grid_p5 {
  border: 1px solid #F53B49;
  color: #F53B49;
  padding: 12px 28px 13px 27px;
  width: 133px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 255px;
  margin-top: 40px;
  font-family: "Inter", sans-serif;
  margin-bottom: 40px;
}
.main_grid_p5:hover {
  background-color: #F53B49;
  color: white;
  box-shadow: 0px 0.3px 1.4px rgba(0, 0, 0, 0.018), 0px 0.6px 3.1px rgba(0, 0, 0, 0.026), 0px 1.1px 5.3px rgba(0, 0, 0, 0.032), 0px 1.6px 8.2px rgba(0, 0, 0, 0.038), 0px 2.4px 12.2px rgba(0, 0, 0, 0.042), 0px 3.6px 17.9px rgba(0, 0, 0, 0.048), 0px 5.4px 26.8px rgba(0, 0, 0, 0.054), 0px 8.5px 42.7px rgba(0, 0, 0, 0.062), 0px 16px 80px rgba(0, 0, 0, 0.08);
}

.main_grid6 {
  font-family: "Inter", sans-serif;
  width: 1410px;
  height: 303px;
  margin-left: 255px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  box-shadow: 0px 0.4px 1.9px rgba(0, 0, 0, 0.008), 0px 0.9px 4.3px rgba(0, 0, 0, 0.011), 0px 1.5px 7.7px rgba(0, 0, 0, 0.014), 0px 2.6px 12.8px rgba(0, 0, 0, 0.016), 0px 4.2px 21.2px rgba(0, 0, 0, 0.019), 0px 7.4px 37px rgba(0, 0, 0, 0.022), 0px 16px 80px rgba(0, 0, 0, 0.03);
  margin-top: 100px;
}
.main_grid6 .main_grid_div1:hover {
  box-shadow: 0px 0.3px 1.6px rgba(0, 0, 0, 0.007), 0px 0.7px 3.6px rgba(0, 0, 0, 0.01), 0px 1.3px 6.3px rgba(0, 0, 0, 0.013), 0px 2px 10px rgba(0, 0, 0, 0.015), 0px 3.1px 15.5px rgba(0, 0, 0, 0.017), 0px 4.8px 24.1px rgba(0, 0, 0, 0.02), 0px 8px 40px rgba(0, 0, 0, 0.023), 0px 16px 80px rgba(0, 0, 0, 0.03);
  background-color: rgba(252, 158, 166, 0.4666666667);
}
.main_grid6 .main_grid_div1 img {
  margin-left: 132px;
  margin-top: 30px;
}
.main_grid6 .main_grid_div1 .grid6_p {
  font-size: 20px;
  font-weight: bold;
  margin-left: 70px;
  margin-top: 20px;
}
.main_grid6 .main_grid_div1 .grid6_p2 {
  color: #384255;
  font-size: 16px;
  margin-left: 45px;
  margin-top: 10px;
}
.main_grid6 .main_grid_div1 .grid6_p3 {
  color: #384255;
  font-size: 16px;
  margin-left: 48px;
  margin-top: 10px;
}
.main_grid6 .main_grid_div1 .grid6_p4 {
  color: #384255;
  font-size: 16px;
  margin-left: 79px;
  margin-top: 10px;
}
.main_grid6 .main_grid_div1 .grid6_p5 {
  color: #F53B49;
  margin-left: 113px;
  margin-top: -7px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.main_grid6 .main_grid_div1 .grid6_arrow_left {
  cursor: pointer;
  margin-left: 0px;
  margin-left: 5px;
}
.main_grid6 .main_grid_div1 .grid6_p3_1 {
  color: #384255;
  font-size: 16px;
  margin-left: 105px;
  margin-top: 10px;
}
.main_grid6 .main_grid_div1 .grid6_p4_1 {
  color: #384255;
  font-size: 16px;
  margin-left: 65px;
  margin-top: 10px;
}
.main_grid6 .main_grid_div1 .grid6_p2_2 {
  color: #384255;
  font-size: 16px;
  margin-left: 88px;
  margin-top: 10px;
}
.main_grid6 .main_grid_div1 .grid6_p3_2 {
  color: #384255;
  font-size: 16px;
  margin-left: 75px;
  margin-top: 10px;
}
.main_grid6 .main_grid_div1 .grid6_p4_2 {
  color: #384255;
  font-size: 16px;
  margin-left: 60px;
  margin-top: 10px;
}
.main_grid6 .main_grid_div1 .grid6_p1 {
  font-size: 20px;
  font-weight: bold;
  margin-left: 82px;
  margin-top: 20px;
}
.main_grid6 .main_grid_div1 .grid6_p5_1 {
  color: #F53B49;
  margin-left: 104px;
  margin-top: -7px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.main_grid6 .main_grid_div1 .grid6_p2_3 {
  color: #384255;
  font-size: 16px;
  margin-left: 28px;
  margin-top: 10px;
}
.main_grid6 .main_grid_div1 .grid6_p3_3 {
  color: #384255;
  font-size: 16px;
  margin-left: 89px;
  margin-top: 10px;
}
.main_grid6 .main_grid_div1 .grid6_p5_3 {
  color: #F53B49;
  margin-left: 113px;
  margin-top: 23px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.partners {
  position: relative;
  width: 1410px;
  height: 396px;
  background-color: #1A1A25;
  margin-left: 256px;
  margin-top: 80px;
  border-radius: 6px;
}
.partners .img_partners {
  margin-left: 93px;
  margin-top: 5px;
  position: absolute;
}
.partners .partners_p {
  font-family: "Inter", sans-serif;
  color: white;
  float: right;
  margin-right: 115px;
  font-size: 36px;
  margin-top: 76px;
}
.partners .partners_p span {
  color: #F53B49;
}
.partners .main_grid_p5 {
  border: 1px solid white;
  padding: 12px 28px 13px 27px;
  width: 185px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 757px;
  margin-top: 295px;
  font-family: "Inter", sans-serif;
  position: absolute;
  color: white;
}
.partners .main_grid_p5:hover {
  background-color: #F53B49;
  border: black;
}

.fre_footer_p {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-left: 256px;
  margin-top: 172px;
  margin-bottom: 30px;
  cursor: pointer;
}
.fre_footer_p span {
  margin-left: 35px;
  font-size: 20px;
  color: grey;
}

.pre_footer_grid {
  position: relative;
  font-family: "Inter", sans-serif;
  width: 1362px;
  height: 441px;
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin-left: 255px;
}
.pre_footer_grid .pre_footer_div {
  cursor: pointer;
  border-radius: 7px;
}
.pre_footer_grid .pre_footer_p1 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 20px;
  color: #384255;
}
.pre_footer_grid p {
  margin-top: 10px;
  color: #384255;
  font-size: 16px;
}
.pre_footer_grid .pre_footer_p2 {
  color: rgba(56, 66, 85, 0.5764705882);
  font-size: 16px;
}
.pre_footer_grid .pre_footer_arrow {
  position: absolute;
  border: 1px solid white;
  padding: 15px;
  border-radius: 50%;
  box-shadow: 0px 0.4px 1.9px rgba(0, 0, 0, 0.021), 0px 0.9px 4.3px rgba(0, 0, 0, 0.03), 0px 1.5px 7.7px rgba(0, 0, 0, 0.037), 0px 2.6px 12.8px rgba(0, 0, 0, 0.043), 0px 4.2px 21.2px rgba(0, 0, 0, 0.05), 0px 7.4px 37px rgba(0, 0, 0, 0.059), 0px 16px 80px rgba(0, 0, 0, 0.08);
  margin-left: 325px;
  margin-top: -292px;
}

.pre_footer_btn {
  border: 1px solid #F53B49;
  padding: 12px 28px 13px 29px;
  width: 140px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 251px;
  margin-top: 46px;
  font-family: "Inter", sans-serif;
  color: #F53B49;
}
.pre_footer_btn:hover {
  background-color: #F53B49;
  color: white;
  box-shadow: 0px 0.3px 1.4px rgba(0, 0, 0, 0.018), 0px 0.6px 3.1px rgba(0, 0, 0, 0.026), 0px 1.1px 5.3px rgba(0, 0, 0, 0.032), 0px 1.6px 8.2px rgba(0, 0, 0, 0.038), 0px 2.4px 12.2px rgba(0, 0, 0, 0.042), 0px 3.6px 17.9px rgba(0, 0, 0, 0.048), 0px 5.4px 26.8px rgba(0, 0, 0, 0.054), 0px 8.5px 42.7px rgba(0, 0, 0, 0.062), 0px 16px 80px rgba(0, 0, 0, 0.08);
}

.footer {
  width: 1920px;
  height: 635px;
  background-color: #1A1A25;
  margin-top: 78px;
}
.footer .footer_1_info {
  display: flex;
}
.footer .footer_ul_div1 {
  font-family: "Inter", sans-serif;
  margin-left: 293px;
  color: #858FA4;
  margin-top: 105px;
}
.footer .footer_ul_div1 li {
  margin-bottom: 12px;
}
.footer .footer_ul_div1 li:first-child {
  color: white;
  margin-bottom: 40px;
}
.footer .footer_ul_div1 li:last-child {
  color: white;
}
.footer .footer_ul_div2 {
  font-family: "Inter", sans-serif;
  margin-left: 114px;
  margin-top: 105px;
}
.footer .footer_ul_div2 .footer_ul2 {
  color: #858FA4;
}
.footer .footer_ul_div2 .footer_ul2 li {
  margin-bottom: 12px;
}
.footer .footer_ul_div2 .footer_ul2 li:first-child {
  color: white;
  margin-bottom: 40px;
}
.footer .footer_ul_div2 .footer_ul2 li:last-child {
  color: white;
}
.footer .footer_ul_div2 .footer_ul2 span {
  color: #858FA4;
}
.footer .footer_line {
  margin-left: 292px;
}
.footer .footer_div2 {
  position: relative;
  width: 271px;
  height: 337px;
  font-family: "Inter", sans-serif;
  margin-top: 105px;
  margin-left: 190px;
}
.footer .footer_div2 input {
  background-color: rgba(133, 143, 164, 0.1098039216);
  padding: 14px 34px 14px 14px;
  outline: none;
  border: none;
  border-radius: 7px;
  color: white;
  cursor: pointer;
}
.footer .footer_div2 input:hover {
  border: 1px solid;
}
.footer .footer_div2 img {
  position: absolute;
  margin-top: 12px;
  margin-left: -33px;
}
.footer .footer_div2 .footer_div2_p {
  color: #858FA4;
  margin-top: 50px;
  margin-bottom: 8px;
  font-size: 13px;
}
.footer .footer_div2 .footer_div2_p2 {
  color: #858FA4;
  font-size: 13px;
}
.footer .footer_div2 .footer_div2_p3 {
  color: white;
  font-size: 14px;
  margin-top: 8px;
  margin-left: 4px;
  margin-bottom: 23px;
  cursor: pointer;
}
.footer .footer_div2 a {
  margin-left: 4px;
  font-size: 14px;
  color: #858FA4;
  border: none;
  cursor: pointer;
}
.footer .footer_div2 .footer_div2_p4 {
  color: white;
  margin-top: 10px;
  font-size: 14px;
  margin-left: 4px;
  cursor: pointer;
}
.footer .footer_div2 .footer_div2_p5 {
  color: #4B7EE8;
  font-size: 12px;
  margin-top: 40px;
  cursor: pointer;
}
.footer .footer_div2 .footer_div2_p6 {
  color: #4B7EE8;
  font-size: 12px;
  margin-top: 10px;
  cursor: pointer;
}
.footer .footer_2_info {
  display: flex;
  flex-wrap: wrap;
  width: 1920px;
  height: 172px;
  margin-left: 296px;
  font-family: "Inter", sans-serif;
}
.footer .footer_2_info .footer_line {
  margin-left: 289px;
}
.footer .footer_logo {
  width: 287px;
  height: 80px;
  margin-top: 51px;
}
.footer .footer_logo .footer_logo_img {
  margin-top: -10px;
}
.footer .footer_logo p {
  color: #858FA4;
  font-size: 14px;
  margin-top: 17px;
  margin-left: 5px;
}
.footer .footer_info_2 {
  align-items: center;
  display: flex;
  width: 1632px;
}
.footer .footer_info_2 .footer_f_i {
  margin-left: 205px;
}
.footer .footer_info_2 .become_parnter {
  color: white;
  font-size: 14px;
  margin-left: 148px;
  border: 1px solid #384255;
  background-color: #384255;
  padding: 10px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}
.footer .footer_info_2 .become_parnter2 {
  color: #858FA4;
  font-size: 14px;
  margin-left: 30px;
  border: 1px solid #384255;
  padding: 10px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}
.footer .footer_info_2 .footer_visa {
  margin-left: 77px;
}
.footer .footer_info_2 .footer_mastercard {
  margin-left: 30px;
}
.footer .footer_info_2 .footer_web {
  margin-left: 30px;
}
.footer .footer_info_2 .footer_paypal {
  margin-left: 30px;
}/*# sourceMappingURL=main.css.map */